.card,.google{
	border:2px solid #ddd;
	background-color: #f4f4f4;
	text-align: center;
	width: 300px;
	margin: 5px;

}
a{
	color: #c45e45;
}
img{
	width: 300px;
}
/*body{
	background-image: url("../images/notvariables.png");
	background-repeat: no-repeat;
}*/
.flex-parent{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
body{
	background-color: #c45e45;
}

/*media queiries
for mobiles 320px -425px
for tablet 426px - 768px
for laptop 769px -1024px or 1440px or above
*/

@media screen and (max-width: 425px){
.card,.google{
	border:2px solid #ddd;
	background-color: yellow;
	text-align: center;
	width: 300px;
	margin: 5px;
}
a{
	color: green;
}
img{
	width: 150px;
}	
}

@media screen and (min-width: 426px) and (max-width:768px ){
.card,.google{
	border:2px solid #ddd;
	background-color: green;
	text-align: center;
	width: 300px;
	margin: 5px;
}
a{
	color: yellow;
}
img{
	width: 250px;
}	
}